/* Estilo global para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0;
    padding: 0;
    color: #333; /* Cor do texto principal */
    background-color: #f4f4f4; /* Cor de fundo clara */
}

/* Estilo para o cabeçalho */
header {
    background-color: #003b6f; /* Azul escuro */
    color: #fff; /* Texto branco */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 10px 0 0;
    font-size: 1.5em;
}

/* Estilo para a seção de busca */
.busca-atleta {
    text-align: center;
    margin: 20px;
}

.busca-atleta input[type="text"] {
    padding: 10px;
    border: 2px solid #009739; /* Verde bandeira */
    border-radius: 5px;
    font-size: 1em;
    width: 60%;
    max-width: 400px;
    margin-right: 10px;
}

.busca-atleta button {
    padding: 10px 20px;
    background-color: #ffcc00; /* Amarelo */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.busca-atleta button:hover {
    background-color: #e6b800; /* Amarelo escuro */
}

/* Estilo para a seção de resultado da pesquisa */
.resultado-pesquisa {
    padding: 20px;
    text-align: center;
}

.atleta-info {
    background-color: #fff; /* Fundo branco */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.nome-atleta {
    font-size: 1.8em;
    margin: 0;
}

.idade-altleta,
.esporte-atleta {
    font-size: 1em;
    color: #666; /* Cinza para detalhes */
    margin: 5px 0;
}

.descricao-atleta {
    font-size: 1em;
    margin: 10px 0;
}

.link-atleta {
    color: #003b6f; /* Azul escuro */
    text-decoration: none;
    font-weight: bold;
}

.link-atleta:hover {
    text-decoration: underline;
}

/* Estilo para o rodapé */
footer {
    background-color: #003b6f; /* Azul escuro */
    color: #fff; /* Texto branco */
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}
