/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo neutra */
    color: #333; /* Cor do texto principal */
}

/* Cabeçalho */
header {
    background-color: #009739; /* Verde bandeira */
    color: #fff; /* Texto branco */
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

/* Seções de busca */
.busca-atleta {
    text-align: center;
    margin: 20px;
}

.busca-atleta input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #0068a4; /* Azul bandeira */
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
}

.busca-atleta button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffcc29; /* Amarelo bandeira */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.busca-atleta button:hover {
    background-color: #f4b700; /* Amarelo mais escuro */
}

/* Resultados da pesquisa */
.resultado-pesquisa {
    margin: 20px;
}

.atleta-info {
    background-color: #fff; /* Fundo branco para as caixas de informações */
    border: 1px solid #ddd; /* Borda cinza clara */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.nome-atleta {
    margin: 0;
    font-size: 1.5em;
    color: #009739; /* Verde bandeira */
}

.idade-atleta,
.esporte-atleta {
    font-size: 1em;
    color: #0068a4; /* Azul bandeira */
}

.descricao-atleta {
    margin-top: 10px;
    font-size: 1em;
}

.link-atleta {
    display: block;
    margin-top: 10px;
    color: #0068a4; /* Azul bandeira */
    text-decoration: none;
}

.link-atleta:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    background-color: #0068a4; /* Azul bandeira */
    color: #fff; /* Texto branco */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
